@import url('reset.css?__inline');
@import url('../../fonts/iconfont/iconfont.css?__inline');
@import url("bootstrap.css?__inline");
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.loading {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	display: block;
	-moz-opacity: .7;
	opacity: .7;
	filter: alpha(opacity = 70);
	z-index: 9999;
	text-align: center;
	background: url(../../img/loadding-hr.gif) center center no-repeat;
}

body {min-width:1000px;}

.header{
    width: 1200px;
   /* height: 50px;*/
    margin: 0 auto;
    overflow:hidden;
    background-color: #2E2E2E;
    /*border: 1px solid #ccc;*/
}

/*.header{
	width: 1000px;
    height: 90px;
    margin: 0 auto;
    background: none;
    overflow:hidden;
    background-color: red;
    border: 1px solid #ccc;

}*/

.logo{
    width: auto;
    display: inline;
}
.logo h1{
    width: 115px;
    font-size: 32px;
    line-height: 32px;
    float: left;
    color: white;
    font-weight:normal;
}
.header-nav {
    /*position: absolute;*/
    display: inline-block;
    /*top: 36px;*/
    /*right: -50px;*/
}
.header-nav li {
    float: left;
    margin-top: 0;
    text-align: center;
    margin-right: 50px;
    height:30px;
    line-height:30px;
}
.header-nav li a {
    font-size: 16px;
    color: #fff;    
    padding-bottom:5px;
    padding-bottom:3px\9;
    line-height:26px;
    display:block;
}
.header-nav li.current a {
    position: relative;
    border-bottom: 3px solid #3c8ccd;
    line-height:26px;
}
.header-nav li a:hover {
    position: relative;
    border-bottom: 3px solid #3c8ccd;
    line-height:26px;
}
.footer {
  background-color: #4e4e4e;
  height: 115px;
  width: 100%;
  text-align: center;
  position:absolute;
  bottom:0px;
  left:0px;
}
.footer_content{
    width: 1200px;
    height: 95px;
    margin: 0 auto;
    padding-top: 16px;
    text-indent: center;
}